<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883352695161-d416o0l8rpp8vo35mc5orj3f9shj7m15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883352695161-d416o0l8rpp8vo35mc5orj3f9shj7m15</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>883352695161-a97nhr56cssjvl69vq1nv55lcofagvkf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDf-ZdPh0YbokRjSdr9ZlpNiu6lEQihbfo</string>
	<key>GCM_SENDER_ID</key>
	<string>883352695161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.just2click.hivechatapp</string>
	<key>PROJECT_ID</key>
	<string>hive1-a9048</string>
	<key>STORAGE_BUCKET</key>
	<string>hive1-a9048.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883352695161:ios:34089d9e884693b6953fa8</string>
	<key>DATABASE_URL</key>
	<string>https://hive1-a9048.firebaseio.com</string>
</dict>
</plist>